In [2]:
# ładujemy potrzebne pakiety
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
np.random.seed(42)

mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
plt.rcParams['figure.figsize'] = (10, 5)

In [37]:
# wczytujemy całą ramkę danych
data = pd.read_csv("./data/dataset_1.csv")

In [38]:
# dzielimy dane, tworzymy zbiór do ewaluacji i do testów
from sklearn.model_selection import train_test_split

train_set, eval_set = train_test_split(data, test_size=0.3, random_state=42)
train_df, test_df = train_test_split(train_set, test_size=0.3, random_state=42)
df = train_df.reset_index(drop=True)    # dla wygody

In [39]:
# sprawdzamy czy mniej więcej po równo się podzieliło
[data[data.target == 1].size/data.size,
eval_set[eval_set.target == 1].size/eval_set.size,
train_set[train_set.target == 1].size/train_set.size,
df[df.target == 1].size/df.size]

# jest git

[0.03982, 0.04006666666666667, 0.039714285714285716, 0.03836734693877551]

In [40]:
# sprawdzamy typy zmiennych i występowanie braków
df.iloc[:, 1:100].info()
df.iloc[:, 100:200].info()
df.iloc[:, 200:300].info()
df.target.info()
df.target.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24500 entries, 0 to 24499
Data columns (total 99 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_2    24500 non-null  int64
 1   var_3    24500 non-null  float64
 2   var_4    24500 non-null  float64
 3   var_5    24500 non-null  float64
 4   var_6    24500 non-null  int64
 5   var_7    24500 non-null  int64
 6   var_8    24500 non-null  int64
 7   var_9    24500 non-null  int64
 8   var_10   24500 non-null  int64
 9   var_11   24500 non-null  float64
 10  var_12   24500 non-null  float64
 11  var_13   24500 non-null  float64
 12  var_14   24500 non-null  int64
 13  var_15   24500 non-null  int64
 14  var_16   24500 non-null  float64
 15  var_17   24500 non-null  float64
 16  var_18   24500 non-null  float64
 17  var_19   24500 non-null  int64
 18  var_20   24500 non-null  int64
 19  var_21   24500 non-null  float64
 20  var_22   24500 non-null  float64
 21  var_23   24500 non-null  int64
 22  var_24   24500 non-null  int64
 23  var_25   24500 non-null  int64
 24  var_26   24500 non-null  float64
 25  var_27   24500 non-null  float64
 26  var_28   24500 non-null  int64
 27  var_29   24500 non-null  float64
 28  var_30   24500 non-null  float64
 29  var_31   24500 non-null  int64
 30  var_32   24500 non-null  float64
 31  var_33   24500 non-null  int64
 32  var_34   24500 non-null  int64
 33  var_35   24500 non-null  float64
 34  var_36   24500 non-null  int64
 35  var_37   24500 non-null  int64
 36  var_38   24500 non-null  int64
 37  var_39   24500 non-null  float64
 38  var_40   24500 non-null  float64
 39  var_41   24500 non-null  float64
 40  var_42   24500 non-null  float64
 41  var_43   24500 non-null  int64
 42  var_44   24500 non-null  int64
 43  var_45   24500 non-null  int64
 44  var_46   24500 non-null  float64
 45  var_47   24500 non-null  float64
 46  var_48   24500 non-null  float64
 47  var_49   24500 non-null  int64
 48  var_50   24500 non-null  float64
 49  var_51   24500 non-null  int64
 50  var_52   24500 non-null  int64
 51  var_53   24500 non-null  int64
 52  var_54   24500 non-null  int64
 53  var_55   24500 non-null  float64
 54  var_56   24500 non-null  int64
 55  var_57   24500 non-null  float64
 56  var_58   24500 non-null  int64
 57  var_59   24500 non-null  int64
 58  var_60   24500 non-null  int64
 59  var_61   24500 non-null  int64
 60  var_62   24500 non-null  int64
 61  var_63   24500 non-null  int64
 62  var_64   24500 non-null  float64
 63  var_65   24500 non-null  float64
 64  var_66   24500 non-null  int64
 65  var_67   24500 non-null  int64
 66  var_68   24500 non-null  int64
 67  var_69   24500 non-null  int64
 68  var_70   24500 non-null  int64
 69  var_71   24500 non-null  int64
 70  var_72   24500 non-null  int64
 71  var_73   24500 non-null  int64
 72  var_74   24500 non-null  int64
 73  var_75   24500 non-null  float64
 74  var_76   24500 non-null  float64
 75  var_77   24500 non-null  float64
 76  var_78   24500 non-null  float64
 77  var_79   24500 non-null  float64
 78  var_80   24500 non-null  int64
 79  var_81   24500 non-null  int64
 80  var_82   24500 non-null  int64
 81  var_83   24500 non-null  int64
 82  var_84   24500 non-null  int64
 83  var_85   24500 non-null  float64
 84  var_86   24500 non-null  float64
 85  var_87   24500 non-null  int64
 86  var_88   24500 non-null  int64
 87  var_89   24500 non-null  float64
 88  var_90   24500 non-null  float64
 89  var_91   24500 non-null  float64
 90  var_92   24500 non-null  int64
 91  var_93   24500 non-null  float64
 92  var_94   24500 non-null  int64
 93  var_95   24500 non-null  int64
 94  var_96   24500 non-null  float64
 95  var_97   24500 non-null  int64
 96  var_98   24500 non-null  float64
 97  var_99   24500 non-null  int64
 98  var_100  24500 non-null  float64
dtypes: float64(43), int64(56)
memory usage: 18.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24500 entries, 0 to 24499
Data columns (total 100 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_101  24500 non-null  float64
 1   var_102  24500 non-null  float64
 2   var_103  24500 non-null  int64
 3   var_104  24500 non-null  int64
 4   var_105  24500 non-null  float64
 5   var_106  24500 non-null  int64
 6   var_107  24500 non-null  int64
 7   var_108  24500 non-null  float64
 8   var_109  24500 non-null  float64
 9   var_110  24500 non-null  float64
 10  var_111  24500 non-null  int64
 11  var_112  24500 non-null  int64
 12  var_113  24500 non-null  int64
 13  var_114  24500 non-null  int64
 14  var_115  24500 non-null  float64
 15  var_116  24500 non-null  int64
 16  var_117  24500 non-null  int64
 17  var_118  24500 non-null  float64
 18  var_119  24500 non-null  float64
 19  var_120  24500 non-null  int64
 20  var_121  24500 non-null  int64
 21  var_122  24500 non-null  int64
 22  var_123  24500 non-null  int64
 23  var_124  24500 non-null  int64
 24  var_125  24500 non-null  float64
 25  var_126  24500 non-null  float64
 26  var_127  24500 non-null  int64
 27  var_128  24500 non-null  float64
 28  var_129  24500 non-null  int64
 29  var_130  24500 non-null  float64
 30  var_131  24500 non-null  float64
 31  var_132  24500 non-null  int64
 32  var_133  24500 non-null  int64
 33  var_134  24500 non-null  float64
 34  var_135  24500 non-null  int64
 35  var_136  24500 non-null  float64
 36  var_137  24500 non-null  int64
 37  var_138  24500 non-null  float64
 38  var_139  24500 non-null  float64
 39  var_140  24500 non-null  float64
 40  var_141  24500 non-null  int64
 41  var_142  24500 non-null  float64
 42  var_143  24500 non-null  int64
 43  var_144  24500 non-null  float64
 44  var_145  24500 non-null  float64
 45  var_146  24500 non-null  int64
 46  var_147  24500 non-null  float64
 47  var_148  24500 non-null  int64
 48  var_149  24500 non-null  int64
 49  var_150  24500 non-null  float64
 50  var_151  24500 non-null  int64
 51  var_152  24500 non-null  int64
 52  var_153  24500 non-null  float64
 53  var_154  24500 non-null  float64
 54  var_155  24500 non-null  int64
 55  var_156  24500 non-null  float64
 56  var_157  24500 non-null  float64
 57  var_158  24500 non-null  int64
 58  var_159  24500 non-null  int64
 59  var_160  24500 non-null  int64
 60  var_161  24500 non-null  float64
 61  var_162  24500 non-null  int64
 62  var_163  24500 non-null  int64
 63  var_164  24500 non-null  int64
 64  var_165  24500 non-null  float64
 65  var_166  24500 non-null  float64
 66  var_167  24500 non-null  int64
 67  var_168  24500 non-null  int64
 68  var_169  24500 non-null  int64
 69  var_170  24500 non-null  int64
 70  var_171  24500 non-null  int64
 71  var_172  24500 non-null  int64
 72  var_173  24500 non-null  float64
 73  var_174  24500 non-null  int64
 74  var_175  24500 non-null  int64
 75  var_176  24500 non-null  int64
 76  var_177  24500 non-null  int64
 77  var_178  24500 non-null  float64
 78  var_179  24500 non-null  int64
 79  var_180  24500 non-null  float64
 80  var_181  24500 non-null  int64
 81  var_182  24500 non-null  int64
 82  var_183  24500 non-null  int64
 83  var_184  24500 non-null  float64
 84  var_185  24500 non-null  float64
 85  var_186  24500 non-null  float64
 86  var_187  24500 non-null  int64
 87  var_188  24500 non-null  float64
 88  var_189  24500 non-null  int64
 89  var_190  24500 non-null  float64
 90  var_191  24500 non-null  float64
 91  var_192  24500 non-null  float64
 92  var_193  24500 non-null  float64
 93  var_194  24500 non-null  int64
 94  var_195  24500 non-null  int64
 95  var_196  24500 non-null  int64
 96  var_197  24500 non-null  int64
 97  var_198  24500 non-null  int64
 98  var_199  24500 non-null  int64
 99  var_200  24500 non-null  float64
dtypes: float64(43), int64(57)
memory usage: 18.7 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24500 entries, 0 to 24499
Data columns (total 100 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_201  24500 non-null  int64
 1   var_202  24500 non-null  int64
 2   var_203  24500 non-null  float64
 3   var_204  24500 non-null  float64
 4   var_205  24500 non-null  float64
 5   var_206  24500 non-null  int64
 6   var_207  24500 non-null  float64
 7   var_208  24500 non-null  float64
 8   var_209  24500 non-null  int64
 9   var_210  24500 non-null  float64
 10  var_211  24500 non-null  int64
 11  var_212  24500 non-null  int64
 12  var_213  24500 non-null  float64
 13  var_214  24500 non-null  float64
 14  var_215  24500 non-null  int64
 15  var_216  24500 non-null  int64
 16  var_217  24500 non-null  int64
 17  var_218  24500 non-null  int64
 18  var_219  24500 non-null  int64
 19  var_220  24500 non-null  float64
 20  var_221  24500 non-null  int64
 21  var_222  24500 non-null  float64
 22  var_223  24500 non-null  int64
 23  var_224  24500 non-null  int64
 24  var_225  24500 non-null  int64
 25  var_226  24500 non-null  int64
 26  var_227  24500 non-null  float64
 27  var_228  24500 non-null  float64
 28  var_229  24500 non-null  int64
 29  var_230  24500 non-null  int64
 30  var_231  24500 non-null  float64
 31  var_232  24500 non-null  int64
 32  var_233  24500 non-null  int64
 33  var_234  24500 non-null  int64
 34  var_235  24500 non-null  int64
 35  var_236  24500 non-null  int64
 36  var_237  24500 non-null  float64
 37  var_238  24500 non-null  int64
 38  var_239  24500 non-null  int64
 39  var_240  24500 non-null  float64
 40  var_241  24500 non-null  int64
 41  var_242  24500 non-null  float64
 42  var_243  24500 non-null  float64
 43  var_244  24500 non-null  float64
 44  var_245  24500 non-null  int64
 45  var_246  24500 non-null  float64
 46  var_247  24500 non-null  int64
 47  var_248  24500 non-null  int64
 48  var_249  24500 non-null  int64
 49  var_250  24500 non-null  int64
 50  var_251  24500 non-null  int64
 51  var_252  24500 non-null  int64
 52  var_253  24500 non-null  float64
 53  var_254  24500 non-null  float64
 54  var_255  24500 non-null  float64
 55  var_256  24500 non-null  int64
 56  var_257  24500 non-null  float64
 57  var_258  24500 non-null  int64
 58  var_259  24500 non-null  int64
 59  var_260  24500 non-null  int64
 60  var_261  24500 non-null  float64
 61  var_262  24500 non-null  int64
 62  var_263  24500 non-null  int64
 63  var_264  24500 non-null  float64
 64  var_265  24500 non-null  float64
 65  var_266  24500 non-null  float64
 66  var_267  24500 non-null  int64
 67  var_268  24500 non-null  float64
 68  var_269  24500 non-null  int64
 69  var_270  24500 non-null  int64
 70  var_271  24500 non-null  float64
 71  var_272  24500 non-null  float64
 72  var_273  24500 non-null  int64
 73  var_274  24500 non-null  int64
 74  var_275  24500 non-null  int64
 75  var_276  24500 non-null  float64
 76  var_277  24500 non-null  float64
 77  var_278  24500 non-null  int64
 78  var_279  24500 non-null  float64
 79  var_280  24500 non-null  float64
 80  var_281  24500 non-null  int64
 81  var_282  24500 non-null  int64
 82  var_283  24500 non-null  float64
 83  var_284  24500 non-null  int64
 84  var_285  24500 non-null  int64
 85  var_286  24500 non-null  float64
 86  var_287  24500 non-null  int64
 87  var_288  24500 non-null  float64
 88  var_289  24500 non-null  int64
 89  var_290  24500 non-null  float64
 90  var_291  24500 non-null  int64
 91  var_292  24500 non-null  float64
 92  var_293  24500 non-null  int64
 93  var_294  24500 non-null  int64
 94  var_295  24500 non-null  int64
 95  var_296  24500 non-null  int64
 96  var_297  24500 non-null  int64
 97  var_298  24500 non-null  int64
 98  var_299  24500 non-null  float64
 99  var_300  24500 non-null  float64
dtypes: float64(41), int64(59)
memory usage: 18.7 MB
<class 'pandas.core.series.Series'>
RangeIndex: 24500 entries, 0 to 24499
Series name: target
Non-Null Count  Dtype
--------------  -----
24500 non-null  int64
dtypes: int64(1)
memory usage: 191.5 KB

0    23560
1      940
Name: target, dtype: int64

Wnioski: mamy do czynienia z 300 zmiennymi numerycznymi bez braków danych, a zmienna objaśniana jest binarna.

In [41]:
X = df.iloc[:, :300]
y = df.target

In [42]:
# rzucamy okiem na podsuomwanie atrybutów numerycznych
X.describe()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300
count,24500.000000,24500.0,24500.000000,24500.000000,24500.000000,24500.0,24500.000000,24500.000000,24500.000000,24500.0,...,24500.000000,24500.00000,24500.000000,24500.0,24500.000000,24500.000000,24500.0,24500.000000,24500.000000,2.450000e+04
mean,0.001959,0.0,9.505698,3.168856,576.883608,0.0,0.000122,0.032816,0.000367,0.0,...,0.005633,0.09703,0.009184,0.0,0.126000,0.085959,0.0,0.003143,17.845268,5.901528e+03
std,0.101402,0.0,728.074414,2.768712,10151.771380,0.0,0.019166,0.312051,0.033196,0.0,...,0.129873,1.26670,0.198049,0.0,0.604217,0.617478,0.0,0.079991,1084.015022,4.991740e+04
min,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00
25%,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00
50%,0.000000,0.0,0.000000,2.850000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00
75%,0.000000,0.0,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00
max,9.000000,0.0,101195.473500,35.280000,418500.000000,0.0,3.000000,3.000000,3.000000,0.0,...,3.000000,74.52000,12.000000,0.0,6.000000,27.000000,0.0,3.000000,134666.681100,2.857673e+06

In [55]:
# pierwszy nasuwający się wniosek: pojawiają się kolumny wypełnione takimi samymi wartościami, zlikwidujmy je

X.drop(X.loc[:, X.nunique() == 1], axis = 1, inplace=True)
X.describe()

,var_1,var_3,var_4,var_5,var_7,var_8,var_9,var_13,var_15,var_16,...,var_289,var_290,var_291,var_292,var_293,var_295,var_296,var_298,var_299,var_300
count,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,...,24500.000000,24500.000000,24500.000000,24500.00000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,2.450000e+04
mean,0.001959,9.505698,3.168856,576.883608,0.000122,0.032816,0.000367,5.049415,1.998612,56.243582,...,0.000041,10.246986,0.005633,0.09703,0.009184,0.126000,0.085959,0.003143,17.845268,5.901528e+03
std,0.101402,728.074414,2.768712,10151.771380,0.019166,0.312051,0.033196,231.507148,1.431255,2878.129876,...,0.006389,533.527182,0.129873,1.26670,0.198049,0.604217,0.617478,0.079991,1084.015022,4.991740e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.900000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,0.000000,0.000000,2.850000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
max,9.000000,101195.473500,35.280000,418500.000000,3.000000,3.000000,3.000000,33120.000000,9.000000,377990.085000,...,1.000000,45503.530800,3.000000,74.52000,12.000000,6.000000,27.000000,3.000000,134666.681100,2.857673e+06

In [92]:
# sprawdźmy, czy nie występują zduplikowane kolumny

X.loc[:, X.T.duplicated()].describe()

,var_106,var_116,var_148,var_197,var_199,var_216,var_232,var_233,var_239,var_250,var_263,var_269,var_285,var_289,var_296
count,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,2.450000e+04,24500.000000,24500.000000,2.450000e+04,24500.000000,2.450000e+04,24500.000000,24500.000000,24500.000000,24500.000000
mean,0.000939,0.000122,0.082408,0.000939,0.010408,6.530612e+04,0.066367,0.000041,4.081633e+04,0.003469,1.224490e+04,0.023918,0.000122,0.000041,0.085959
std,0.030626,0.019166,0.604439,0.030626,0.176401,2.554724e+06,0.248928,0.006389,2.019934e+06,0.058800,1.106521e+06,0.152798,0.019166,0.006389,0.617478
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,-1.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
max,1.000000,3.000000,27.000000,1.000000,3.000000,1.000000e+08,1.000000,1.000000,1.000000e+08,1.000000,1.000000e+08,1.000000,3.000000,1.000000,27.000000

In [93]:
# usuwamy je
X.drop(X.loc[:, X.T.duplicated()], axis=1, inplace=True)

In [95]:
X.describe()

,var_1,var_3,var_4,var_5,var_7,var_8,var_9,var_13,var_15,var_16,...,var_286,var_288,var_290,var_291,var_292,var_293,var_295,var_298,var_299,var_300
count,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,24500.000000,...,24500.000000,24500.000000,24500.000000,24500.000000,24500.00000,24500.000000,24500.000000,24500.000000,24500.000000,2.450000e+04
mean,0.001959,9.505698,3.168856,576.883608,0.000122,0.032816,0.000367,5.049415,1.998612,56.243582,...,82.450338,0.110804,10.246986,0.005633,0.09703,0.009184,0.126000,0.003143,17.845268,5.901528e+03
std,0.101402,728.074414,2.768712,10151.771380,0.019166,0.312051,0.033196,231.507148,1.431255,2878.129876,...,3153.057895,1.083260,533.527182,0.129873,1.26670,0.198049,0.604217,0.079991,1084.015022,4.991740e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.900000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,0.000000,0.000000,2.850000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
max,9.000000,101195.473500,35.280000,418500.000000,3.000000,3.000000,3.000000,33120.000000,9.000000,377990.085000,...,246477.390600,41.850000,45503.530800,3.000000,74.52000,12.000000,6.000000,3.000000,134666.681100,2.857673e+06