In [1]:
# ładujemy potrzebne pakiety
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

np.random.seed(42)

In [2]:
# wczytujemy całą ramkę danych
dataset = pd.read_csv("./data/dataset_1.csv")

In [3]:
df = dataset.copy()

In [4]:
# sprawdzamy typy zmiennych i występowanie braków
df.iloc[:, 0:100].info()
df.iloc[:, 100:200].info()
df.iloc[:, 200:300].info()
df.target.info()
df.target.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 100 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_1    50000 non-null  int64
 1   var_2    50000 non-null  int64
 2   var_3    50000 non-null  float64
 3   var_4    50000 non-null  float64
 4   var_5    50000 non-null  float64
 5   var_6    50000 non-null  int64
 6   var_7    50000 non-null  int64
 7   var_8    50000 non-null  int64
 8   var_9    50000 non-null  int64
 9   var_10   50000 non-null  int64
 10  var_11   50000 non-null  float64
 11  var_12   50000 non-null  float64
 12  var_13   50000 non-null  float64
 13  var_14   50000 non-null  int64
 14  var_15   50000 non-null  int64
 15  var_16   50000 non-null  float64
 16  var_17   50000 non-null  float64
 17  var_18   50000 non-null  float64
 18  var_19   50000 non-null  int64
 19  var_20   50000 non-null  int64
 20  var_21   50000 non-null  float64
 21  var_22   50000 non-null  float64
 22  var_23   50000 non-null  int64
 23  var_24   50000 non-null  int64
 24  var_25   50000 non-null  int64
 25  var_26   50000 non-null  float64
 26  var_27   50000 non-null  float64
 27  var_28   50000 non-null  int64
 28  var_29   50000 non-null  float64
 29  var_30   50000 non-null  float64
 30  var_31   50000 non-null  int64
 31  var_32   50000 non-null  float64
 32  var_33   50000 non-null  int64
 33  var_34   50000 non-null  int64
 34  var_35   50000 non-null  float64
 35  var_36   50000 non-null  int64
 36  var_37   50000 non-null  int64
 37  var_38   50000 non-null  int64
 38  var_39   50000 non-null  float64
 39  var_40   50000 non-null  float64
 40  var_41   50000 non-null  float64
 41  var_42   50000 non-null  float64
 42  var_43   50000 non-null  int64
 43  var_44   50000 non-null  int64
 44  var_45   50000 non-null  int64
 45  var_46   50000 non-null  float64
 46  var_47   50000 non-null  float64
 47  var_48   50000 non-null  float64
 48  var_49   50000 non-null  int64
 49  var_50   50000 non-null  float64
 50  var_51   50000 non-null  int64
 51  var_52   50000 non-null  int64
 52  var_53   50000 non-null  int64
 53  var_54   50000 non-null  int64
 54  var_55   50000 non-null  float64
 55  var_56   50000 non-null  int64
 56  var_57   50000 non-null  float64
 57  var_58   50000 non-null  int64
 58  var_59   50000 non-null  int64
 59  var_60   50000 non-null  int64
 60  var_61   50000 non-null  int64
 61  var_62   50000 non-null  int64
 62  var_63   50000 non-null  int64
 63  var_64   50000 non-null  float64
 64  var_65   50000 non-null  float64
 65  var_66   50000 non-null  int64
 66  var_67   50000 non-null  int64
 67  var_68   50000 non-null  int64
 68  var_69   50000 non-null  int64
 69  var_70   50000 non-null  int64
 70  var_71   50000 non-null  int64
 71  var_72   50000 non-null  int64
 72  var_73   50000 non-null  int64
 73  var_74   50000 non-null  int64
 74  var_75   50000 non-null  float64
 75  var_76   50000 non-null  float64
 76  var_77   50000 non-null  float64
 77  var_78   50000 non-null  float64
 78  var_79   50000 non-null  float64
 79  var_80   50000 non-null  int64
 80  var_81   50000 non-null  int64
 81  var_82   50000 non-null  int64
 82  var_83   50000 non-null  int64
 83  var_84   50000 non-null  int64
 84  var_85   50000 non-null  float64
 85  var_86   50000 non-null  float64
 86  var_87   50000 non-null  int64
 87  var_88   50000 non-null  int64
 88  var_89   50000 non-null  float64
 89  var_90   50000 non-null  float64
 90  var_91   50000 non-null  float64
 91  var_92   50000 non-null  int64
 92  var_93   50000 non-null  float64
 93  var_94   50000 non-null  int64
 94  var_95   50000 non-null  int64
 95  var_96   50000 non-null  float64
 96  var_97   50000 non-null  int64
 97  var_98   50000 non-null  float64
 98  var_99   50000 non-null  int64
 99  var_100  50000 non-null  float64
dtypes: float64(43), int64(57)
memory usage: 38.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 100 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_101  50000 non-null  float64
 1   var_102  50000 non-null  float64
 2   var_103  50000 non-null  int64
 3   var_104  50000 non-null  int64
 4   var_105  50000 non-null  float64
 5   var_106  50000 non-null  int64
 6   var_107  50000 non-null  int64
 7   var_108  50000 non-null  float64
 8   var_109  50000 non-null  float64
 9   var_110  50000 non-null  float64
 10  var_111  50000 non-null  int64
 11  var_112  50000 non-null  int64
 12  var_113  50000 non-null  int64
 13  var_114  50000 non-null  int64
 14  var_115  50000 non-null  float64
 15  var_116  50000 non-null  int64
 16  var_117  50000 non-null  int64
 17  var_118  50000 non-null  float64
 18  var_119  50000 non-null  float64
 19  var_120  50000 non-null  int64
 20  var_121  50000 non-null  int64
 21  var_122  50000 non-null  int64
 22  var_123  50000 non-null  int64
 23  var_124  50000 non-null  int64
 24  var_125  50000 non-null  float64
 25  var_126  50000 non-null  float64
 26  var_127  50000 non-null  int64
 27  var_128  50000 non-null  float64
 28  var_129  50000 non-null  int64
 29  var_130  50000 non-null  float64
 30  var_131  50000 non-null  float64
 31  var_132  50000 non-null  int64
 32  var_133  50000 non-null  int64
 33  var_134  50000 non-null  float64
 34  var_135  50000 non-null  int64
 35  var_136  50000 non-null  float64
 36  var_137  50000 non-null  int64
 37  var_138  50000 non-null  float64
 38  var_139  50000 non-null  float64
 39  var_140  50000 non-null  float64
 40  var_141  50000 non-null  int64
 41  var_142  50000 non-null  float64
 42  var_143  50000 non-null  int64
 43  var_144  50000 non-null  float64
 44  var_145  50000 non-null  float64
 45  var_146  50000 non-null  int64
 46  var_147  50000 non-null  float64
 47  var_148  50000 non-null  int64
 48  var_149  50000 non-null  int64
 49  var_150  50000 non-null  float64
 50  var_151  50000 non-null  int64
 51  var_152  50000 non-null  int64
 52  var_153  50000 non-null  float64
 53  var_154  50000 non-null  float64
 54  var_155  50000 non-null  int64
 55  var_156  50000 non-null  float64
 56  var_157  50000 non-null  float64
 57  var_158  50000 non-null  int64
 58  var_159  50000 non-null  int64
 59  var_160  50000 non-null  int64
 60  var_161  50000 non-null  float64
 61  var_162  50000 non-null  int64
 62  var_163  50000 non-null  int64
 63  var_164  50000 non-null  int64
 64  var_165  50000 non-null  float64
 65  var_166  50000 non-null  float64
 66  var_167  50000 non-null  int64
 67  var_168  50000 non-null  int64
 68  var_169  50000 non-null  int64
 69  var_170  50000 non-null  int64
 70  var_171  50000 non-null  int64
 71  var_172  50000 non-null  int64
 72  var_173  50000 non-null  float64
 73  var_174  50000 non-null  int64
 74  var_175  50000 non-null  int64
 75  var_176  50000 non-null  int64
 76  var_177  50000 non-null  int64
 77  var_178  50000 non-null  float64
 78  var_179  50000 non-null  int64
 79  var_180  50000 non-null  float64
 80  var_181  50000 non-null  int64
 81  var_182  50000 non-null  int64
 82  var_183  50000 non-null  int64
 83  var_184  50000 non-null  float64
 84  var_185  50000 non-null  float64
 85  var_186  50000 non-null  float64
 86  var_187  50000 non-null  int64
 87  var_188  50000 non-null  float64
 88  var_189  50000 non-null  int64
 89  var_190  50000 non-null  float64
 90  var_191  50000 non-null  float64
 91  var_192  50000 non-null  float64
 92  var_193  50000 non-null  float64
 93  var_194  50000 non-null  int64
 94  var_195  50000 non-null  int64
 95  var_196  50000 non-null  int64
 96  var_197  50000 non-null  int64
 97  var_198  50000 non-null  int64
 98  var_199  50000 non-null  int64
 99  var_200  50000 non-null  float64
dtypes: float64(43), int64(57)
memory usage: 38.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 100 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   var_201  50000 non-null  int64
 1   var_202  50000 non-null  int64
 2   var_203  50000 non-null  float64
 3   var_204  50000 non-null  float64
 4   var_205  50000 non-null  float64
 5   var_206  50000 non-null  int64
 6   var_207  50000 non-null  float64
 7   var_208  50000 non-null  float64
 8   var_209  50000 non-null  int64
 9   var_210  50000 non-null  float64
 10  var_211  50000 non-null  int64
 11  var_212  50000 non-null  int64
 12  var_213  50000 non-null  float64
 13  var_214  50000 non-null  float64
 14  var_215  50000 non-null  int64
 15  var_216  50000 non-null  int64
 16  var_217  50000 non-null  int64
 17  var_218  50000 non-null  int64
 18  var_219  50000 non-null  int64
 19  var_220  50000 non-null  float64
 20  var_221  50000 non-null  int64
 21  var_222  50000 non-null  float64
 22  var_223  50000 non-null  int64
 23  var_224  50000 non-null  int64
 24  var_225  50000 non-null  int64
 25  var_226  50000 non-null  int64
 26  var_227  50000 non-null  float64
 27  var_228  50000 non-null  float64
 28  var_229  50000 non-null  int64
 29  var_230  50000 non-null  int64
 30  var_231  50000 non-null  float64
 31  var_232  50000 non-null  int64
 32  var_233  50000 non-null  int64
 33  var_234  50000 non-null  int64
 34  var_235  50000 non-null  int64
 35  var_236  50000 non-null  int64
 36  var_237  50000 non-null  float64
 37  var_238  50000 non-null  int64
 38  var_239  50000 non-null  int64
 39  var_240  50000 non-null  float64
 40  var_241  50000 non-null  int64
 41  var_242  50000 non-null  float64
 42  var_243  50000 non-null  float64
 43  var_244  50000 non-null  float64
 44  var_245  50000 non-null  int64
 45  var_246  50000 non-null  float64
 46  var_247  50000 non-null  int64
 47  var_248  50000 non-null  int64
 48  var_249  50000 non-null  int64
 49  var_250  50000 non-null  int64
 50  var_251  50000 non-null  int64
 51  var_252  50000 non-null  int64
 52  var_253  50000 non-null  float64
 53  var_254  50000 non-null  float64
 54  var_255  50000 non-null  float64
 55  var_256  50000 non-null  int64
 56  var_257  50000 non-null  float64
 57  var_258  50000 non-null  int64
 58  var_259  50000 non-null  int64
 59  var_260  50000 non-null  int64
 60  var_261  50000 non-null  float64
 61  var_262  50000 non-null  int64
 62  var_263  50000 non-null  int64
 63  var_264  50000 non-null  float64
 64  var_265  50000 non-null  float64
 65  var_266  50000 non-null  float64
 66  var_267  50000 non-null  int64
 67  var_268  50000 non-null  float64
 68  var_269  50000 non-null  int64
 69  var_270  50000 non-null  int64
 70  var_271  50000 non-null  float64
 71  var_272  50000 non-null  float64
 72  var_273  50000 non-null  int64
 73  var_274  50000 non-null  int64
 74  var_275  50000 non-null  int64
 75  var_276  50000 non-null  float64
 76  var_277  50000 non-null  float64
 77  var_278  50000 non-null  int64
 78  var_279  50000 non-null  float64
 79  var_280  50000 non-null  float64
 80  var_281  50000 non-null  int64
 81  var_282  50000 non-null  int64
 82  var_283  50000 non-null  float64
 83  var_284  50000 non-null  int64
 84  var_285  50000 non-null  int64
 85  var_286  50000 non-null  float64
 86  var_287  50000 non-null  int64
 87  var_288  50000 non-null  float64
 88  var_289  50000 non-null  int64
 89  var_290  50000 non-null  float64
 90  var_291  50000 non-null  int64
 91  var_292  50000 non-null  float64
 92  var_293  50000 non-null  int64
 93  var_294  50000 non-null  int64
 94  var_295  50000 non-null  int64
 95  var_296  50000 non-null  int64
 96  var_297  50000 non-null  int64
 97  var_298  50000 non-null  int64
 98  var_299  50000 non-null  float64
 99  var_300  50000 non-null  float64
dtypes: float64(41), int64(59)
memory usage: 38.1 MB
<class 'pandas.core.series.Series'>
RangeIndex: 50000 entries, 0 to 49999
Series name: target
Non-Null Count  Dtype
--------------  -----
50000 non-null  int64
dtypes: int64(1)
memory usage: 390.8 KB

0    48009
1     1991
Name: target, dtype: int64

Wnioski: mamy do czynienia z 300 zmiennymi numerycznymi bez braków danych, a zmienna objaśniana jest binarna.

In [5]:
# rzucamy okiem na podsuomwanie atrybutów numerycznych
df.describe()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.00000,...,50000.000000,50000.000000,50000.0,50000.000000,50000.000000,50000.0,50000.000000,50000.000000,5.000000e+04,50000.000000
mean,0.002220,0.000060,15.593002,3.149633,608.681764,4.000000e+03,0.000300,0.035040,0.000240,0.00018,...,0.085164,0.009900,0.0,0.127260,0.086880,0.0,0.003060,12.462960,5.683960e+03,0.039820
std,0.108145,0.007746,1280.571855,2.740114,10951.361737,6.324492e+05,0.029999,0.322884,0.026832,0.03000,...,1.148319,0.214016,0.0,0.607019,0.622398,0.0,0.078808,832.417622,4.736482e+04,0.195538
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
50%,0.000000,0.000000,0.000000,2.850000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
75%,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
max,9.000000,1.000000,207901.336500,35.280000,445500.000000,1.000000e+08,3.000000,6.000000,3.000000,6.00000,...,74.520000,12.000000,0.0,6.000000,33.000000,0.0,3.000000,134666.681100,2.857673e+06,1.000000

In [6]:
# poniższa funkcja podaje kolumny które składają się w [współczynnik]% z jednej wartości
def find_constant_columns(data, percent):

    res = []
    for var in data.columns:
        if data[var].value_counts(normalize=True).iloc[0] >= percent/100:
            res.append(var)
    return res

In [7]:
# usuwamy stałe i prawie stałe kolumny
df.drop(df.loc[:, find_constant_columns(df, 99.99)], axis=1, inplace=True)

# ile kolumn nam zostaje?
df.shape[1]

220

In [8]:
# usuwamy ewentualne zduplikowane kolumny
df.drop(df.loc[:, df.T.duplicated()], axis=1, inplace=True)

# ile kolumn nam zostaje?
df.shape[1]

210

In [9]:
# poniższa funkcja podaje kolumny które są w [współczynnik]% zależne od innej kolumny (brane pod uwagę są każde kolejne wystąpienia zależnej kolumny, z wyłączeniem kolumny, od której znaleziona jest zależna)
def find_dependent_columns(data, percent):

    corr = data.corr()
    corr = corr[corr > percent/100]

    dependent_columns = corr.apply(lambda row: row[row > 0].index, axis=1)
    res = []
    for j in range (len(dependent_columns)):
        for k in dependent_columns[j]:
            if k is not dependent_columns.index[j]:
                if k not in dependent_columns.index[0:j]:
                    res.append(k)

    return np.unique(np.array(res))

In [35]:
# usuwamy kolumny, które są wysoce skorelowane od innych
df.drop(find_dependent_columns(df, 99), axis=1, inplace=True)

# ile kolumn nam zostaje?
df.shape[1]

187

In [37]:
## do dopracowania

# poniższa funkcja zwraca ramkę danych z usuniętymi obserwacjami, dla których istnieją kolumny, gdzie wartość tej obserwacji pojawia się co najwyżej max_liczba_wystapien_wartosci razy; wybiermay tylko te kolumny, dla których jest co najwyżej max_licznosc_zbioru_wartosci takich rzadko występujących wartości
def remove_outliers(data, max_liczba_wystapien_wartosci, max_licznosc_zbioru_wartosci):
    res = data.copy()
    for var in res.columns:
        s = res[var].value_counts().reset_index()
        s = s.loc[s[var] <= max_liczba_wystapien_wartosci]
        if 1 <= s.size <= max_licznosc_zbioru_wartosci:
            for i in s["index"].tolist():
                res = res[df[var] != i]
    print(f"Usunięto {data.shape[0] - res.shape[0]} obserwacji")
    return res

In [38]:
df = remove_outliers(df, 50, 50)
df.shape

Usunięto 0 obserwacji

(49602, 71)

In [70]:
df.shape

(50000, 210)

In [75]:
# from sklearn.preprocessing import OneHotEncoder
#
# df2 = df.copy()
# columns = []
# for var in df2.columns:
#     s = df2[var].value_counts().reset_index()
#     if 2 <= s.shape[0] <= 5:
#         print(s)
#         columns.append(var)
# enc = OneHotEncoder()
# df3 = enc.fit_transform(df2[columns])

   index  var_1
0      0  49975
1      3     15
2      6      8
3      9      2
   index  var_2
0      0  49997
1      1      3
      index  var_6
0         0  49998
1  99999999      2
   index  var_7
0      0  49995
1      3      5
   index  var_8
0      0  49417
1      3    582
2      6      1
   index  var_9
0      0  49996
1      3      4
   index  var_10
0      0   49998
1      3       1
2      6       1
        index  var_11
0      0.0000   49998
1  67511.0397       1
2   2875.9488       1
       index  var_12
0     0.0000   49998
1  6891.4596       1
2  3316.2600       1
      index  var_14
0         0   49999
1  99999999       1
   index  var_15
0      3   33063
1      0   16807
2      6     127
3      9       3
   index  var_19
0      0   49503
1      1     497
   index  var_20
0      0   49995
1    450       2
2    150       1
3   1260       1
4    300       1
   index  var_28
0      0   49996
1      3       3
2      6       1
      index  var_34
0         0   49999
1  99999999       1
   index  var_36
0      0   49999
1      3       1
   index  var_38
0      0   48110
1      3    1889
2      6       1
   index  var_43
0      0   49954
1      1      46
   index  var_45
0      0   49965
1      3      33
2      6       2
   index  var_49
0     99   19711
1      3   14651
2      1    9656
3      2    5705
4      0     277
   index  var_52
0      0   47808
1      1    2192
   index  var_53
0      0   49965
1      1      35
   index  var_54
0      0   49494
1      1     506
   index  var_56
0      0   49897
1      1     103
   index  var_59
0      0   49988
1      3       6
2      6       4
3      9       1
4     12       1
      index  var_60
0         0   49975
1  99999999      25
   index  var_63
0      0   49732
1      3     264
2      6       3
3     12       1
         index  var_65
0       0.0000   49998
1      22.4652       1
2  209834.4000       1
   index  var_66
0      0   49999
1      3       1
   index  var_67
0      0   49999
1      1       1
   index  var_68
0      0   49646
1      3     198
2      2     120
3      1      36
   index  var_69
0      0   49999
1      3       1
   index  var_70
0      1   47935
1      0    2065
   index  var_71
0      0   49995
1      1       5
   index  var_72
0      0   49998
1  36000       1
2  15000       1
   index  var_73
0      0   49999
1   3000       1
   index  var_74
0      2   35918
1      1    7211
2      0    6654
3      3     217
   index  var_82
0      0   43499
1      1    6501
   index  var_83
0      0   45982
1      1    4018
   index  var_84
0      0   49809
1      3     191
   index  var_88
0      0   48110
1      1    1890
   index  var_94
0      0   49807
1      3     192
2      6       1
   index  var_103
0      0    47416
1      1     2584
   index  var_104
0      0    49999
1      3        1
   index  var_106
0      0    49954
1      1       46
      index  var_111
0         0    49997
1  99999999        3
   index  var_114
0      0    46584
1      1     3416
   index  var_116
0      0    49995
1      3        5
   index  var_117
0      0    47719
1      1     2281
   index  var_121
0      0    45424
1      1     4576
   index  var_123
0      0    47350
1      1     2650
      index  var_124
0         0    49999
1  99999999        1
    index  var_129
0       0    49999
1  300000        1
   index  var_132
0      3    28212
1      0    13476
2      2     6158
3      1     2154
   index  var_133
0      0    49999
1      1        1
   index  var_137
0      0    49803
1      1      197
   index  var_141
0      0    49998
1      3        2
   index  var_146
0      0    49993
1      3        3
2      6        2
3     48        1
4      9        1
      index  var_149
0         0    49984
1  99999999       15
2        -1        1
         index  var_150
0       0.0000    49997
1   13207.7592        1
2  129718.6626        1
3    2939.8236        1
      index  var_151
0         0    49998
1  99999999        2
   index  var_152
0      1    36668
1      0    13332
       index  var_153
0     0.0000    49998
1  1074.0996        1
2   254.1408        1
   index  var_155
0      0    47702
1      2     1141
2      3      835
3      1      322
   index  var_162
0      0    47877
1      1     2123
   index  var_164
0      0    45188
1      1     4812
   index  var_168
0      0    48702
1      1     1298
   index  var_169
0      0    48578
1      2      571
2      1      542
3      3      309
   index  var_170
0      0    49999
1      3        1
   index  var_174
0      0    48790
1      3     1204
2      6        4
3     12        1
4    111        1
   index  var_175
0      1    44088
1      0     5912
   index  var_176
0      0    48600
1      3     1400
   index  var_177
0      0    49809
1      1      191
   index  var_179
0      1    44012
1      0     5988
      index  var_183
0         0    49999
1  99999999        1
   index  var_187
0      0    49998
1      3        2
   index  var_189
0      0    49997
1      3        3
   index  var_194
0      0    49861
1      1      139
   index  var_197
0      0    49951
1      1       49
   index  var_198
0      0    49807
1      1      193
   index  var_199
0      0    49809
1      3      191
   index  var_202
0      0    49976
1      3       16
2      6        6
3     12        1
4     18        1
   index  var_206
0      0    46694
1      1     3306
   index  var_209
0      3    47610
1      0     2065
2      6      319
3      9        6
        index  var_210
0      0.0000    49998
1  13241.9232        1
2   2100.0126        1
   index  var_211
0      0    49954
1      3       36
2      6       10
      index  var_216
0         0    49975
1  99999999       25
      index  var_217
0         0    49998
1  99999999        2
   index  var_218
0      0    49773
1      1      227
   index  var_219
0      0    49958
1      1       42
      index  var_221
0         0    49992
1        -1        4
2  99999999        4
   index  var_223
0      0    49999
1      1        1
   index  var_226
0      0    46750
1      1     3250
       index  var_228
0     0.0000    49997
1   868.9800        1
2  4741.9260        1
3  9595.6092        1
   index  var_229
0      0    48791
1      1     1209
   index  var_232
0      0    46750
1      1     3250
   index  var_233
0      0    49997
1      2        2
2      1        1
   index  var_234
0      0    49997
1      3        3
   index  var_235
0      0    49975
1      3       25
   index  var_236
0      0    49907
1      3       93
   index  var_238
0      0    49861
1      3      139
      index  var_239
0         0    49984
1  99999999       15
2        -1        1
   index  var_241
0      0    48395
1      1     1605
        index  var_243
0       0.000    49997
1   42195.000        1
2   17640.000        1
3  138115.674        1
   index  var_245
0      0    49909
1      1       91
   index  var_247
0      0    49999
1      3        1
   index  var_249
0      0    49907
1      1       93
   index  var_250
0      0    49809
1      1      191
   index  var_251
0      0    49897
1      2       44
2      1       34
3      3       25
   index  var_252
0      0    45729
1      1     4271
   index  var_256
0      0    49795
1      1      205
   index  var_258
0      0    47877
1      3     2123
   index  var_259
0      0    47719
1      3     2261
2      6       19
3     15        1
   index  var_260
0      0    49965
1      2       16
2      3       14
3      1        5
      index  var_263
0         0    49992
1        -1        4
2  99999999        4
        index  var_265
0      0.0000    49996
1  32418.2334        1
2  46110.5811        1
3  25501.8000        1
4  23587.2273        1
   index  var_267
0      0    49995
1      3        5
   index  var_269
0      0    48791
1      1     1209
   index  var_270
0      0    48834
1      1     1166
   index  var_274
0      0    49986
1      3       14
   index  var_275
0      0    48790
1      1     1210
   index  var_278
0      0    49809
1      3      191
       index  var_280
0      0.000    49999
1  19141.164        1
   index  var_281
0      0    49417
1      1      583
   index  var_282
0      0    49925
1      1       75
       index  var_283
0      0.000    49999
1  18750.528        1
   index  var_284
0      0    47887
1      1     2113
   index  var_285
0      0    49998
1      3        2
   index  var_287
0      0    49999
1      1        1
   index  var_289
0      0    49995
1      1        5
   index  var_291
0      0    49897
1      3      102
2      6        1
   index  var_293
0      0    49869
1      3      106
2      6       18
3      9        5
4     12        2
   index  var_295
0      0    47887
1      3     2105
2      6        8
   index  var_298
0      0    49916
1      2       49
2      1       25
3      3       10
   index  target
0      0   48009
1      1    1991

In [58]:
df.shape

(50000, 301)

# Zabawa z modelami

In [36]:
X = df.iloc[:, :-1]
y = df.target

In [20]:
from sklearn.preprocessing import StandardScaler

X_std = StandardScaler().fit_transform(X)

In [403]:
from sklearn.preprocessing import FunctionTransformer, QuantileTransformer

X_new = QuantileTransformer().fit_transform(X)

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [51]:
[y_train[y_train==1].size/y_train.size,
y_test[y_test==1].size/y_test.size]

[0.039714285714285716, 0.04006666666666667]

In [38]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score

dtc = DecisionTreeClassifier(random_state=42)
dtc.fit(X_train, y_train)
y_pred = cross_val_predict(dtc, X_train, y_train)
confusion_matrix(y_train, y_pred)

array([[32166,  1425],
       [ 1178,   231]])

In [39]:
[precision_score(y_train, y_pred),
 recall_score(y_train, y_pred),
 f1_score(y_train, y_pred)]

[0.13949275362318841, 0.16394606103619588, 0.1507340946166395]

In [106]:
dtc = DecisionTreeClassifier(random_state=42)
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[13870,   544],
       [  508,    78]])

In [100]:
[precision_score(y_test, y_pred),
 recall_score(y_test, y_pred),
 f1_score(y_test, y_pred)]

[0.15076923076923077, 0.16306156405990016, 0.1566746602717826]

In [13]:
# dzielimy dane, tworzymy zbiór do ewaluacji i do testów
train_set, eval_set = train_test_split(df, test_size=0.3, random_state=42)
train_df, test_df = train_test_split(train_set, test_size=0.3, random_state=42)

In [ ]:
# sprawdzamy czy mniej więcej po równo się podzieliło
[df[df.target == 1].size/df.size,
 eval_set[eval_set.target == 1].size/eval_set.size,
 train_set[train_set.target == 1].size/train_set.size]

# jest git